{
	"listen": [null, 7890],
	"verbose": true,

	"color": {
		"gamma": 2.5,
		"whitepoint": [1.0, 1.0, 1.0]
	},

	"devices": [{
			"type": "fadecandy",
			"serial": "WIYPOIHRWOZGYANX",
			"map": [
				[0, 0, 0, 64, "grb"],
				[0, 64, 64, 64, "rgb"],
				[0, 128, 128, 64, "grb"],
				[0, 192, 192, 64, "rgb"],
				[0, 256, 256, 64, "grb"],
				[0, 320, 320, 64, "rgb"],
				[0, 384, 384, 64, "grb"],
				[0, 448, 448, 64, "rgb"]
			]
		},
		{
			"type": "fadecandy",
			"serial": "NJGRWGPHJZPGQABV",
			"map": [
				[0, 512, 0, 64, "grb"],
				[0, 576, 64, 64, "rgb"],
				[0, 640, 128, 64, "grb"],
				[0, 704, 192, 64, "rgb"],
				[0, 768, 256, 64, "grb"],
				[0, 832, 320, 64, "rgb"],
				[0, 896, 384, 64, "grb"],
				[0, 960, 448, 64, "rgb"]
			]
		},
		{
			"type": "fadecandy",
			"serial": "WUUKOYMGNPSNCPUP",
			"map": [
				[0, 1024, 0, 512, "grb"]
			]
		},




		{
			"type": "fadecandy",
			"serial": "KYPPCIKCVDKPQXOD",
			"map": [
				[0, 1536, 0, 512]
			]
		},
		{
			"type": "fadecandy",
			"serial": "JFWIDBMCJJMBUFGP",
			"map": [
				[0, 2048, 0, 512]
			]
		},




		{
			"type": "fadecandy",
			"serial": "KOWBUWXZISDYOQRJ",
			"map": [
				[0, 2560, 0, 512, "grb"]
			]
		},



		{
			"type": "enttec",
			"serial": "EN190102",
			"map": [
				[0, 6048, "r", 1],
				[0, 6048, "g", 2],
				[0, 6048, "b", 3],
				[0, 6049, "l", 4],

				[0, 6050, "r", 5],
				[0, 6050, "g", 6],
				[0, 6050, "b", 7],
				[0, 6051, "l", 8],

				[0, 6052, "r", 9],
				[0, 6052, "g", 10],
				[0, 6052, "b", 11],
				[0, 6053, "l", 12],

				[0, 6054, "r", 13],
				[0, 6054, "g", 14],
				[0, 6054, "b", 15],
				[0, 6055, "l", 16],

				[0, 6056, "r", 17],
				[0, 6056, "g", 18],
				[0, 6056, "b", 19],
				[0, 6057, "l", 20],

				[0, 6058, "r", 21],
				[0, 6058, "g", 22],
				[0, 6058, "b", 23],
				[0, 6059, "l", 24],

				[0, 6060, "r", 25],
				[0, 6060, "g", 26],
				[0, 6060, "b", 27],
				[0, 6061, "l", 28],
				[0, 6062, "l", 29],

				[0, 6063, "r", 30],
				[0, 6063, "g", 31],
				[0, 6063, "b", 32],
				[0, 6061, "l", 23],
				[0, 6062, "l", 34],

				[0, 6066, "r", 35],
				[0, 6066, "g", 36],
				[0, 6066, "b", 37],
				[0, 6061, "l", 38],
				[0, 6062, "l", 39],

				[0, 6069, "r", 40],
				[0, 6069, "g", 41],
				[0, 6069, "b", 42],
				[0, 6061, "l", 43],
				[0, 6062, "l", 44],

				[0, 7000, "l", 256],
				[0, 7001, "l", 257]
			]
		}
	]
}
